<configuration>
    <springProperty scope="context" name="springAppName" source="spring.application.name" defaultValue="driver-service"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push</url>
        </http>
        <labels>
            app=uber
            service=${springAppName}
            level=%level
            env=k8s
        </labels>
        <message class="ch.qos.logback.classic.PatternLayout">
            <pattern>{"timestamp":"%d{ISO8601}","level":"%level","service":"${springAppName}","thread":"%thread","logger":"%logger{36}","correlationId":"%X{correlationId:-}","driverId":"%X{driverId:-}","rideId":"%X{rideId:-}","routingKey":"%X{routingKey:-}","message":"%msg"}</pattern>
        </message>
    </appender>

    <springProfile name="k8s">
        <root level="INFO">
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>

    <springProfile name="!k8s">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
