<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="ride-service"/>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${LOKI_URL:-http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push}</url>
        </http>
        <labels>
            app=uber
            service=${appName}
            level=%level
            env=k8s
        </labels>
        <message class="ch.qos.logback.classic.PatternLayout">
            <pattern>{"timestamp":"%d{ISO8601}","level":"%level","service":"${appName}","thread":"%thread","logger":"%logger{36}","correlationId":"%X{correlationId:-}","userId":"%X{userId:-}","driverId":"%X{driverId:-}","rideId":"%X{rideId:-}","paymentId":"%X{paymentId:-}","routingKey":"%X{routingKey:-}","message":"%msg"}</pattern>
        </message>
    </appender>

    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                {
                "timestamp": "%d{ISO8601}",
                "level": "%level",
                "service": "${appName}",
                "thread": "%thread",
                "logger": "%logger{36}",
                "correlationId": "%X{correlationId:-}",
                "userId": "%X{userId:-}",
                "driverId": "%X{driverId:-}",
                "rideId": "%X{rideId:-}",
                "paymentId": "%X{paymentId:-}",
                "routingKey": "%X{routingKey:-}",
                "message": "%msg"
                }%n
            </pattern>
        </encoder>
    </appender>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProfile name="k8s">
        <root level="INFO">
            <appender-ref ref="LOKI" />
            <!-- Switch between CONSOLE (plain text) and CONSOLE_JSON (for testing Loki format) -->
            <appender-ref ref="CONSOLE_JSON"/>
        </root>
    </springProfile>

    <springProfile name="!k8s">
        <root level="INFO">
            <!-- Switch between CONSOLE (plain text) and CONSOLE_JSON (for testing Loki format) -->
            <appender-ref ref="CONSOLE_JSON"/>
        </root>
    </springProfile>
</configuration>